#controls {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 1rem;
  bottom: 0.5rem;


  @media (min-width: 996px) {
    right: 2rem;
    bottom: 1rem;
  }

  &.shown > * {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  > * {
    display: inline-block;
    margin-left: 1.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    opacity: 0;
    transform: translate3d(0, 2rem, 0);
    transition-property: background, opacity, transform;
    transition-duration: 200ms, 600ms, 600ms;

    &:nth-child(1) { transition-delay: 0ms, 0ms, 0ms }
    &:nth-child(2) { transition-delay: 0ms, 200ms, 200ms }
    &:nth-child(3) { transition-delay: 0ms, 400ms, 400ms }

    @media (min-width: 996px) {
      margin-left: 2rem;
      width: 4rem;
      height: 4rem;
    }

    &.icon_vr { background-image: url('../assets/icons/icon_vr.svg') }
    &.icon_panorama { background-image: url('../assets/icons/icon_panorama.svg') }
    &.icon_eye_left { background-image: url('../assets/icons/icon_eye_left.svg') }
    &.icon_eye_right { background-image: url('../assets/icons/icon_eye_right.svg') }
    &.icon_orientation_sensor { background-image: url('../assets/icons/icon_orientation_sensor.svg') }
    &.icon_orientation_drag { background-image: url('../assets/icons/icon_orientation_drag.svg') }
  }
}