/*
#crosshair {
  position: absolute;
  display: none;
  top: 50%;
  left: 25%;
  margin: -32px 0 0 -32px;
  width: 64px;
  height: 64px;
  pointer-events: none;
  
  background-image: url('../assets/icons/icon_crosshair.svg');
}
*/

#crosshair {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  height: 8px;
  margin-top: -4px;
  pointer-events: none;

  &::before, &::after {
    position: absolute;
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
  }
  &::before { left: -4px; }
  &::after { right: -4px; }
}