html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    style @-ms-viewport { width: device-width; }

    title VR 360 Player

    script(src="polyfills.js")
    link(href="index.css", rel="stylesheet")
  body

    #vr-360-player

    menu.controls
      a#eye-toggler.icon_eye_left(style="display: none")
      a#eye-toggler.icon_orientation_drag
      a#mode-toggler.icon_vr

    i#crosshair
    
    script(src="vendor.js")
    script(src="index.js")
