html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title VR 360 Player

    script(src="polyfills.js")
    link(href="index.css", rel="stylesheet")

  body

    #vr-360-player

    //#{require("!raw!./assets/icons/icon_crosshair.svg")}
    
    script(src="vendor.js")
    script(src="index.js")
